{{ define "main" -}}
<div class="posts">
{{/* {{ range .Site.RegularPages -}}
 <article class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  
  {{ .Summary }}
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}
</article>  
{{- end }}*/}}
<h1>Paintings</h1>
{{ partial "image-gallery" (dict "context" . "gallery_dir" "/images/paintings/2026") }}
{{ partial "image-gallery" (dict "context" . "gallery_dir" "/images/paintings/2025") }}
{{ partial "image-gallery" (dict "context" . "gallery_dir" "/images/paintings/2024") }}
{{ partial "image-gallery" (dict "context" . "gallery_dir" "/images/paintings/2023") }}
{{ partial "image-gallery" (dict "context" . "gallery_dir" "/images/paintings/2022") }}
{{ partial "image-gallery" (dict "context" . "gallery_dir" "/images/paintings/2021") }}
{{/* <div id="home-container"></div>
</div> */}}
{{- end }}
